{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}

<div class="community-container">
    <div class="community-header">
        {% if community.community_logo %}
            <img src="{{ community.community_logo.url }}" alt="Community Logo" class="community-logo">
        {% else %}
            <img src="{% static 'img/dogo.png' %}" alt="Community Logo" class="community-logo">
        {% endif %}
        <div class="community-info">
            <div class="container">
                <h1>{{ community.name }}</h1>
                <div class="dropdown">
                    <button class="dropbtn">Admin tools</button>
                    <div class="dropdown-content">
                        <a href="{% url 'communities:community-update' community.id %}">Update</a>
                        <a href="{% url 'communities:community-delete' community.id %}">Delete</a>
                    </div>
                </div>
            </div>
            <p>{{ community.description }}</p>
            <p>Members: <br> {{ community.members.count }}</p>
            <p>Created at {{ community.created_at }}</p>
            <a href="{% url 'posts:create-community-post' community.id %}" class="create-post-btn">Create post</a>
        </div>
    </div>

    <div class="discussion-thread">
        <h2>Daily Discussion Thread - ({{ community.current_date }})</h2>
        <p>Welcome to the {{ community.name }} Daily Discussion Thread. All are welcome to post here but please keep in mind that this sub is intended for intermediate to advanced level users so beginner questions may not get answered.</p>
    </div>

    <div class="posts-container">
        {% if community.posts.all %}
            {% for post in community.posts.all %}
                <div class="post">
                    <div class="post-header">
                        <a href="{% url 'auth_system:profile-detail' post.author.profiles.first.id %}">
                            {% if post.author.profiles.first.profile_pic %}
                                <img src="{{ post.author.profiles.first.profile_pic.url }}" class="profile-picture">
                            {% else %}
                                <img src="{% static 'img/default-profile-pic.jpg' %}" class="profile-picture">
                            {% endif %}
                        </a>
                        <div class="profile-username">{{ post.author.username }}</div>
                    </div>
                    {% if post.title %}
                        <div class="post-title">{{ post.title }}</div>
                    {% endif %}
                    {% if post.post_image %}
                        {% if post.post_image.url|is_image %}
                            <img src="{{ post.post_image.url }}" class="post-image">
                        {% elif post.post_image.url|is_video %}
                            <video class="post-video" controls>
                                <source src="{{ post.post_image.url }}" type="video/{{ post.post_image.url|is_video }}">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    {% endif %}
                    <div class="post-description">{{ post.description }}</div>
                    <div class="post-footer">
                        <span class="post-date">{{ post.creation_date }}</span>
                        <a href="{% url 'posts:detail-post' post.pk %}">
                            <button class="bookmarkBtn">
                                <span class="IconContainer"> 
                                <svg fill="white" viewBox="0 0 512 512" height="1em"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
                                </span>
                                <p class="text">Comment</p>
                            </button>
                        </a><br><br>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts yet.</p>
        {% endif %}
    </div>
</div>



<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f6f7f8;
}

.container {
    flex: 1;
    justify-content: space-between;
}

.community-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.community-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.community-logo {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-right: 20px;
}

.community-info {
    flex-grow: 1;
}

.create-post-btn {
    color: #fff;
}

.discussion-thread {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f6f7f8;
    border-radius: 8px;
}

.posts-container .post {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Ensure the image is contained within the 50px bounds */
}

.profile-username {
    font-weight: bold;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-image, .post-video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post-description {
    margin-bottom: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-date {
    color: #888;
}


/* Style The Dropdown Button */
.dropbtn {
  background-color: #c4c5c2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #909090;
}




</style>

{% endblock %}
