{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center-wrapper">
    <div class="profile-container">
        {% if my_profile.profile_pic %}
            <img src="{{ my_profile.profile_pic.url }}" class="profile-pic" width="60" height="60">
        {% else %}
            <img src="{% static 'img/default-profile-pic.jpg' %}" class="profile-pic" width="60" height="60">
        {% endif %}

        <div class="username">{{ my_profile.user.username }}</div>

        {% if my_profile.first_name or my_profile.last_name %}
            <div class="name">
                {% if my_profile.first_name %}
                    {{ my_profile.first_name }}
                {% endif %}
                {% if my_profile.last_name %}
                    {{ my_profile.last_name }}
                {% endif %}
            </div>
        {% endif %}

        <div class="bio">
            {% if my_profile.bio %}
                {{ my_profile.bio }}
            {% else %}
                No bio
            {% endif %}
        </div>

        <div class="followers">
            {% if my_profile.followers %}
                {{ my_profile.total_followers }} Followers
            {% else %}
                0 Followers
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}