{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if is_self %}
    <div class="center-wrapper">
        <div class="profile-container">
            {% if profile.profile_pic %}
                <img src="{{ my_profile.profile_pic.url }}" class="profile-pic" width="60" height="60">
            {% else %}
                <img src="{% static 'img/default-profile-pic.jpg' %}" class="profile-pic" width="60" height="60">
            {% endif %}

            <div class="username">{{ profile.user.username }}</div>

            {% if profile.first_name or profile.last_name %}
                <div class="name">
                    {% if profile.first_name %}
                        {{ profile.first_name }}
                    {% endif %}
                    {% if profile.last_name %}
                        {{ profile.last_name }}
                    {% endif %}
                </div>
            {% endif %}

            <div class="bio">
                {% if profile.bio %}
                    {{ profile.bio }}
                {% else %}
                    No bio
                {% endif %}
            </div>

            <div class="followers">
                {% if profile.followers %}
                    {{ profile.total_followers }} Followers
                {% else %}
                    0 Followers
                {% endif %}
            </div>

            Friends({{ friends|length }}): <br>
            
        </div>
    </div>

{% else %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="center-wrapper">
        <div class="profile-container">
            {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" class="profile-pic" width="60" height="60">
            {% else %}
                <img src="{% static 'img/default-profile-pic.jpg' %}" class="profile-pic" width="60" height="60">
            {% endif %}

            <div class="username">{{ profile.user.username }}</div>

            {% if profile.first_name or profile.last_name %}
                <div class="name">
                    {% if profile.first_name %}
                        {{ profile.first_name }}
                    {% endif %}
                    {% if profile.last_name %}
                        {{ profile.last_name }}
                    {% endif %}
                </div>
            {% endif %}

            <div class="bio">
                {% if profile.bio %}
                    {{ profile.bio }}
                {% else %}
                    No bio
                {% endif %}
            </div>

            <div class="followers">
                {% if profile.followers %}
                    {{ profile.total_followers }} Followers
                {% else %}
                    0 Followers
                {% endif %}
            </div>

            Friends({{ friends|length }}): <br>

        
            
        </div>
    </div>
{% endif %}

{% endblock content %}