{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="content-wrapper">
    {% if request.user == profile_user %}
        <div class="profile-friends-wrapper">
            <div class="center-wrapper">
                <div class="profile-container">
                    {% if profile.profile_pic %}
                        <img src="{{ profile.profile_pic.url }}" class="profile-pic" width="60" height="60">
                    {% else %}
                        <img src="{% static 'img/default-profile-pic.jpg' %}" class="profile-pic" width="60" height="60">
                    {% endif %}

                    <div class="profile-username">{{ profile.user.username }}</div>

                    {% if profile.first_name or profile.last_name %}
                        <div class="name">
                            {% if profile.first_name %}
                                {{ profile.first_name }}
                            {% endif %}
                            {% if profile.last_name %}
                                {{ profile.last_name }}
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="bio">
                        {% if profile.bio %}
                            {{ profile.bio }}
                        {% else %}
                            No bio
                        {% endif %}
                    </div>

                    <div class="followers">
                        {% if profile.followers %}
                            {{ profile.total_followers }} Followers
                        {% else %}
                            0 Followers
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="right-wrapper">
                <div class="friends-container">
                    {% if friends %}
                        <h3>Friends ({{ friends|length }}):</h3>
                        <ul class="friends-list">
                            {% for friend in friends %}
                                <li class="friend-item">
                                    {% if friend.profiles.profile_pic %}
                                        <a href="{% url 'auth_system:profile-detail' friend.profiles.first.id %}"><img src="{{ friend.user.profiles.first.profile_pic.url }}" class="friend-profile-pic" width="40" height="40"></a><span class="friend-username">{{ friend.username }}</span>
                                    {% else %}
                                        <a href="{% url 'auth_system:profile-detail' friend.profiles.first.id %}"><img src="{% static 'img/default-profile-pic.jpg' %}" class="friend-profile-pic" width="40" height="40"></a><span class="friend-username">{{ friend.username }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Friends (0): User has no friends yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="posts-wrapper">
            <div class="posts-container">
                {% if posts %}
                    {% for post in posts %}
                        {% if post.post_image %}
                            {% if post.post_image.url|is_image %}
                                <a href="{% url 'posts:detail-post' post.id %}"><img src="{{ post.post_image.url }}"></a>
                            {% elif post.post_image.url|is_video %}
                                <a href="{% url 'posts:detail-post' post.id %}">
                                    <video class="message-media" controls width="350" height="350">
                                        <source src="{{ post.post_image.url }}" type="video/{{ post.post_image.url|is_video }}">
                                        Your browser does not support the video tag.
                                    </video>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No posts yet.</p>
                {% endif %}
            </div>
        </div>
    {% else %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="profile-friends-wrapper">
            <div class="center-wrapper">
                <div class="profile-container">
                    {% if profile.profile_pic %}
                        <img src="{{ profile.profile_pic.url }}" class="profile-pic" width="60" height="60">
                    {% else %}
                        <img src="{% static 'img/default-profile-pic.jpg' %}" class="profile-pic" width="60" height="60">
                    {% endif %}

                    <div class="profile-username">{{ profile.user.username }}</div>

                    {% if profile.first_name or profile.last_name %}
                        <div class="name">
                            {% if profile.first_name %}
                                {{ profile.first_name }}
                            {% endif %}
                            {% if profile.last_name %}
                                {{ profile.last_name }}
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="bio">
                        {% if profile.bio %}
                            {{ profile.bio }}
                        {% else %}
                            No bio
                        {% endif %}
                    </div>

                    <div class="followers">
                        {% if profile.followers %}
                            {{ profile.total_followers }} Followers
                        {% else %}
                            0 Followers
                        {% endif %}
                        <form action="{% url 'auth_system:follow' profile.id %}" method="post">
                            {% csrf_token %}
                            {% if request.user in profile.followers.all %}
                                <button type="submit" class="tooltip-container">
                                    <span class="text">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 95 114"
                                            class="svgIcon"
                                        >
                                            <rect fill="black" rx="28.5" height="57" width="57" x="19"></rect>
                                            <path
                                            fill="black"
                                            d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"
                                            ></path>
                                        </svg>
                                        Unfollow
                                    </span>
                                </button>
                            {% else %}
                                <button type="submit" class="tooltip-container">
                                    <span class="text">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 95 114"
                                            class="svgIcon"
                                        >
                                            <rect fill="black" rx="28.5" height="57" width="57" x="19"></rect>
                                            <path
                                            fill="black"
                                            d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"
                                            ></path>
                                        </svg>
                                        Follow
                                    </span>
                                </button>
                            {% endif %}
                        </form>

                        {% if is_friend %}
                            <a href="{% url 'chats:start-chat' profile_user.id %}">Chat</a>
                        {% endif %}
                                                  
                    </div>
                </div>
            </div>

            <div class="right-wrapper">
                <div class="friends-container">
                    {% if friends %}
                        <h3>Friends ({{ friends|length }}):</h3>
                        <ul class="friends-list">
                            {% for friend in friends %}
                                <li class="friend-item">
                                    {% if friend.profiles.profile_pic %}
                                        <a href="{% url 'auth_system:profile-detail' friend.profiles.first.id %}"><img src="{{ friend.profiles.profile_pic.url }}" class="friend-profile-pic" width="40" height="40"></a><span class="friend-username">{{ friend.username }}</span>
                                    {% else %}
                                        <a href="{% url 'auth_system:profile-detail' friend.profiles.first.id %}"><img src="{% static 'img/default-profile-pic.jpg' %}" class="friend-profile-pic" width="40" height="40"></a><span class="friend-username">{{ friend.username }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Friends (0): User has no friends yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="posts-wrapper">
            <div class="posts-container">
                {% if posts %}
                    {% for post in posts %}
                        {% if post.post_image %}
                            {% if post.post_image.url|is_image %}
                                <a href="{% url 'posts:detail-post' post.id %}"><img src="{{ post.post_image.url }}"></a>
                            {% elif post.post_image.url|is_video %}
                                <a href="{% url 'posts:detail-post' post.id %}">
                                    <video class="message-media" controls width="350" height="350">
                                        <source src="{{ post.post_image.url }}" type="video/{{ post.post_image.url|is_video }}">
                                        Your browser does not support the video tag.
                                    </video>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No posts yet.</p>
                {% endif %}
            </div>
        </div>

    {% endif %}
</div>

{% endblock content %}
